html,
body {
  margin: 0;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

/*~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~ */
header {
  grid-column: 1 / 2;
  display: flex;
  margin: 0px;
  background-color: white;
  box-shadow: 0px 10px 9px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

header h1 {
  width: auto;
  font-family: "Playball", cursive;
  font-size: 75px;
  color: rgba(127, 3, 3, 255);
  text-shadow: 3px 3px 1px rgba(237, 186, 36, 255);
  margin: auto;
}

#hamnav {
  width: 100%;
  background: rgba(127, 3, 3, 255);
}

#hamitems {
  display: flex;
}
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #af0d0d;
}

#hamnav label,
#hamburger {
  display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~ Background IMG ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#bg-container {
  background-image: url(./images/BadgersLogoCleanSmall.png);
  vertical-align: top;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-size: 25%;
  background-position: 0%;
  text-align: center;
  background-repeat: repeat;
  overflow: auto;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#DonorBox {
  max-width: 425px !important;
  display: block;
  margin: auto;
  /* margin-top: 95px; */
}
#MissionStatement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  padding-left: 28%;
  padding-right: 28%;
  color: rgba(127, 3, 3, 255);
  margin-bottom: 20px;
  font-size: larger;
}

#MissionStatement p {
  /* margin-bottom: 55px; */
  font-size: 25px;
  background-color: white;
  border-style: solid;
  font-weight: bold;
}

#MissionStatement h2 {
  background-color: white;
  border-style: solid;
  font-size: 40px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  /* position: absolute; */
  width: 100%;
  text-align: center;
  bottom: 0;
  height: 2.5rem;
}

#email {
  margin-right: 10px;
}

#instagram {
  margin-left: 10px;
}

#youtube {
  margin-left: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~ Media Query ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 813px) {
  body {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
  }

  #MissionStatement {
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
  }
  #GetInTouch h3 {
    font-size: 15px;
  }

  body {
    font-family: "Bebas";
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  header h1 {
    text-align: right;
    font-size: 40px;
  }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  #hamnav label {
    display: inline-block;
    color: white;
    background: rgba(237, 186, 36, 255);
    font-style: normal;
    font-size: 1.9em;
    padding: 10px;
  }

  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}
