html, body {
  margin:0;
  height:100%;
  /* overflow:hidden; */
}

#bg-container {
  background-image: url(./images/glove-background-B&W.jpg);
  width:100%;
  height: 165%;
  box-sizing:border-box;
  background-size: cover;
  background-position: left center;
  text-align: center;
}

body {
  display: flex;
  margin: 0px;
}

header {
  grid-column: 1 / 2;
  display: flex;
  margin: 0px;
  background-color: white;
  box-shadow: 0px 10px 9px;

}

header h1 {
  width: auto;
  font-family: "Playball", cursive;
  font-size: 75px;
  color: rgba(127,3,3,255);
  text-shadow: 3px 3px 1px  rgba(237,186,36,255);

  margin: auto;
}

#MissionStatement  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
  margin-bottom: 50px;
  font-size: larger;
  text-shadow: 2px 2px rgba(127,3,3,255);
}

#MissionStatement p {
  margin-bottom: 55px;
  font-size: 25px;
}

#DonationBox {
/* background-color: green; */
}


footer {
  display: flex;
  background-color: white;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  box-shadow: 10px 10px 9px;
}

#GetInTouch {
  text-align: center;
  margin: auto;
}

#GetInTouch h3 {
  font-family: "Playball", cursive;
  font-size: 25px;
  color: rgba(127,3,3,255);
  text-shadow: 3px 3px 1px  rgba(237,186,36,255);
  margin-bottom: 0;
  margin-top: 0;
}

#Donate {
  text-align: center;
  margin: auto;
  margin-top: 0;
}

#Donate h3 {
  font-family: "Playball", cursive;
  font-size: 25px;
  color: rgba(127,3,3,255);
  text-shadow: 3px 3px 1px  rgba(237,186,36,255);
  margin-bottom: 0;
  margin-top: 0;
}

#BadgersLogo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#JtDoe {
  color: greenyellow;
}

@media screen and (max-width: 576px){
  body {
    width: 100%;
    height: 100%;
  
  }
  header h1 {
    font-size: 50px;
  }

  #MissionStatement {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
  }
  #GetInTouch h3 {
    font-size: 15px;
  }
}