html,
body {
  margin: 0;
  height: 100vh;
  overflow: scroll;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~ Background IMG ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#bg-container {
  background-image: url(./images/glove-background.jpg);
  width: 100%;
  /* height: 100vh; */
  box-sizing: border-box;
  background-size: cover;
  background-position: left center;
  text-align: center;
  background-repeat: no-repeat;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
  grid-column: 1 / 2;
  display: flex;
  margin: 0px;
  background-color: white;
  box-shadow: 0px 10px 9px;
}

header h1 {
  width: auto;
  font-family: "Playball", cursive;
  font-size: 75px;
  color: rgba(127, 3, 3, 255);
  text-shadow: 3px 3px 1px rgba(237, 186, 36, 255);

  margin: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#MissionStatement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
  margin-bottom: 20px;
  font-size: larger;
  text-shadow: 2px 2px rgba(127, 3, 3, 255);
}

#MissionStatement p {
  margin-bottom: 55px;
  font-size: 25px;
}

#DonorBox {
  max-width: 425px !important;
  display: block;
  margin: auto;
}

/* #Donate {
  text-align: center;
  margin: auto;
  margin-top: 0;
}

#Donate h3 {
  font-family: "Playball", cursive;
  font-size: 25px;
  color: rgba(127, 3, 3, 255);
  text-shadow: 3px 3px 1px rgba(237, 186, 36, 255);
  margin-bottom: 0;
  margin-top: 0;
} */

#GetInTouch {
  text-align: center;
  margin: auto;
  /* background-color: rgb(147, 143, 143); */
}

#GetInTouch h3 {
  font-family: "Playball", cursive;
  font-size: 25px;
  color: rgba(127, 3, 3, 255);
  text-shadow: 3px 3px 1px rgba(237, 186, 36, 255);
  margin-bottom: 0;
  margin-top: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  display: flex;
  /* background-color: white; */
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  /* box-shadow: 10px 10px 9px; */
}





#BadgersLogo {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}

#JtDoe {
  color: greenyellow;
  margin-bottom: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~ Media Query ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100%;
  }
  header h1 {
    font-size: 40px;
  }

  #MissionStatement {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
  }
  #GetInTouch h3 {
    font-size: 15px;
  }
}
