html, body {
  margin:0;
  height:100%;
  overflow:hidden;
}

#bg-container {
  background-image: url(./images/glove-background.jpg);
  width:100%;
  height:100%; 
  box-sizing:border-box;
  background-size: cover;
  background-position: left center;
}

body {
  display: flex;
  margin: 0px;
}

header {
  grid-column: 1 / 2;
  display: flex;
  margin: 0px;
}

header h1 {
  width: auto;
  font-family: "Playball", cursive;
  font-size: 75px;
  color: rgba(127,3,3,255);
  text-shadow: 3px 3px 1px  rgba(237,186,36,255);

  margin: auto;
}

#MissionStatement  {
  margin-top: 75px;
  text-align: center;
  font: 29px;
  padding-left: 35%;
  padding-right: 35%;
}

#MissionStatement p {
  font: 14px white;
}
footer {
  display: flex;
  background-color: white;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  box-shadow: 10px 10px 10px;
}

#GetInTouch {
  text-align: center;
  margin: auto;
}

#GetInTouch h3 {
  font-family: "Playball", cursive;
  font-size: 25px;
  color: rgba(127,3,3,255);
  text-shadow: 3px 3px 1px  rgba(237,186,36,255);
  margin-bottom: 0;
  margin-top: 0;
}

#Donate {
  text-align: center;
  margin: auto;
  margin-top: 0;
}

#Donate h3 {
  font-family: "Playball", cursive;
  font-size: 25px;
  color: rgba(127,3,3,255);
  text-shadow: 3px 3px 1px  rgba(237,186,36,255);
  margin-bottom: 0;
  margin-top: 0;
}

#BadgersLogo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


